<html>
  <head>
    <title>출입키 위변조 복구율 모듈</title>
  </head>
  <body>
    <form action="/finish" method="get">
      <div>총 데이터: <%= tot %></div>
      <div>성공: <%= success %></div>
      <div>실패: <%= fail %></div>
      <div>성공률: <%= rank %></div>
      <input type="submit" value="출입키 위변조 프로그램 종료" />
    </form>
  </body>
</html>
