<html>
  <head>
    <title>출입키 위변조 복구율 모듈</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  </head>
  <body style="background-color:#DDDDDD;">
    <h2 style="font-weight:bold;">위변조복구율 시험 프로그램</h2>
    <hr>
    <form action="/finish" method="get">
      <h4><div>총 데이터: <%= tot %>개</div></h4>
      <h4><div>성공: <%= success %>회</div></h4>
      <h4><div>실패: <%= fail %>회</div></h4>
      <h4><div>성공률: <%= rank %>%</div></h4>

      <br>
      <br>
      <input type="submit" value="출입키 위변조 프로그램 종료" />
    </form>
  </body>
</html>
